@{
    ViewData["Title"] = "Home Page";
}
@model List<AutoGetDLT.Models.DLTInfo>
<div class="row">
    <div class="col-md-5">
        <h2>最新几期</h2>


        <ul>
            @foreach (var dltres in Model)
            {
                <li>期号</li>
                <li> <text>@dltres.DLTNum</text> </li>
                <li>前区号码</li>
                <li> <text>@dltres.BeforeNum1 @dltres.BeforeNum2 @dltres.BeforeNum3 @dltres.BeforeNum4 @dltres.BeforeNum5</text> </li>

            }

        </ul>
    </div>
</div>